#image1 {
  border: 5px solid blue;
  padding: 60px;
  display: inline-block;
}

#image2 {
  border: 5px solid blue;
  padding: 60px;
  display: inline-block;
}

#button1 {
  display: inline-block;
}

#button2 {
  display: inline-block;
}
